<link rel="stylesheet" href="/css/footer.css">


<div id="footer-container">

    <div id="company-name">

        <p>
           PlaceApp pvt ltd.
        </p>

        <div id="extras">
            <p>About</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>

    </div>



</div>
