
<link rel="stylesheet" href="/css/signin.css">


<div id="sign-in-form-container">
    <h1>-------------Sign In------------</h1>
    <form action="/user/create-session" id="sign-in-form" method="POST">

        <input type="text" name="email" placeholder="Email123@gmail.com" required>
        <input type="password" name="password" placeholder="password" required>

        <button type="submit">Log In</button>

    </form>

</div>