<link rel="stylesheet" href="/css/signup.css">

<div id="sign-up-form-container">
    <h1>-----------Sign UP----------</h1>
    <form action="/user/create" id="sign-up-form" method="POST">
        
        <input type="text" name="email" placeholder="Email123@gmail.com" required>
        <input type="text" name="name" placeholder="Name here" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="cnf_password" placeholder="Confirm Password" required>

        <button type="submit">Sign Up</button>


    </form>
</div>